@import url(https://db.onlinewebfonts.com/c/9fb1e7c5b973d399cb9f95667021667e?family=GT+America+Mono+Regular);

.content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px 8px;
    z-index: -1;
    background-color: white;
}

.tag {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 10px;
    padding: 10px 20px;
}

.tag h3 {
    font-size: 14px;
    letter-spacing: -0.05em;
    color: #000;
    width: fit-content;
}

.content h1 {
    font-family: "GT America Mono Regular";
    width: 80%;
    font-size: 28px;
    letter-spacing: -0.075em;
    color: #000;
    line-height: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
}

.content h1 span {
    color: #000;
    opacity: 0.6;
}

.subtext {
    width: 95%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.sec1 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    padding: 10px 8px;
}

.bigtag {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0;
}

.bigtag h1 {
    font-size: 128px;
    letter-spacing: -0.05em;
    line-height: 1em;
    font-weight: 400;
    color: #000;
    width: 63%;
    text-transform: uppercase;
    font-family: 'Geist', sans-serif;
}

.bottomtag {
    width: 70%;
    display: flex;
}

@media (max-width: 800px) {
    .bottomtag {
        width: fit-content;
    }
}

.bottomtag h1 {
    font-size: 128px;
    letter-spacing: -0.05em;
    color: #000;
    width: fit-content;
    font-weight: 500;
    font-family: 'Geist', sans-serif;
}



.sec2 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.projectss {
    width: 100%;
    height: fit-content;
    display: flex;
    border-top: #373737 1px solid;
    justify-content: space-between;
}

.seccright {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.year {
    width: 100%;
    display: flex;
    height: fit-content;
    border-top: #000 1px solid;
}

.prlist {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.pritem {
    width: 100%;
    height: 40px;
    display: flex;
    border-top: #202020 0.5px solid;
    align-items: center;
    background-color: transparent;           /* initial background */
    transition: background-color 0.3s ease;  /* smooth transition */
    padding: 0 10px;
}

.pritem:hover {
    background-color: #6f6f6f;    
    cursor: none;             /* background on hover */
}

.pritem:hover h3 {
    color: #fff; /* text changes to white on hover */
}

.seccright h3 {
    font-family: "GT America Mono Regular";
}

.pritem h3 {
    width: 50%;
}

.projectss h3 {
    color: #000;
    letter-spacing: -0.05em;
    font-size: 14px;
}

.sec3 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
}

.screener {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    filter: grayscale(1);
}

.recogni {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 30px;
    border-top: #000 5px solid;
    padding-top: 10px;
}

.recogni h3 {
    color: #000;
    font-size: 36px;
    letter-spacing: -0.025em;
    font-weight: 550;
    font-family: 'Geist', sans-serif;
    text-align: center;
    line-height: 1em;
}

.recogni-title {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.recogni-items {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 15px;
}

.recogni-img {
    width: 49%;
    height: fit-content;
    object-fit: cover;
}

.recogni-right {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.recogni-right h3 {
    color: #000;
    font-size: 15px;
    letter-spacing: -0.025em;
    font-weight: 400;
    font-family: 'Geist', sans-serif;
    text-align: center;
    line-height: 1em;
}

.recogni-item {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    opacity: 0.45;
    transition: opacity 0.25s ease-out;
    border-bottom: 0.25px transparent solid;
}

.recogni-item:hover {
    opacity: 1;
    border-bottom: 0.25px #000 solid;
}

.recogni-hug {
    position: sticky;
    top: 40vh;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.fourtitle {
    position: sticky;
    top: 28vh;
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url(images/linebg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    mix-blend-mode: difference;
}

.sec4 {
    width: 100%;
    height: 350vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.fourtitle h1 {
    color: #fff;
    font-size: 86px;
    letter-spacing: -0.05em;
    font-weight: 500;
    font-family: 'Geist', sans-serif;
    text-align: center;
    line-height: 1em;
}

.fourtitle h3 {
    color: #fff;
    font-size: 16px;
    letter-spacing: -0.05em;
    font-family: "GT America Mono Regular";
    text-align: center;
    line-height: 1em;
    opacity: 0.5;
}

.fourimg {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.fourimg img {
    width: 20%;
    height: fit-content;
    padding-top: 150px;
}